wait(5)
pass("start notepad")
wait(0.7)
type("Welcome to my test! This is saving txt test. A little intro.",0.01)
sim("return")
type("Foo",0.01)
sim("return")
type("Bar",0.01)
sim("return")
type("Ok, i am going to give a sys message that contains yiu",0.01)
sim("return")
msg(MOUSE_POS)
