wait(5)
pass("start notepad")
wait(0.7)
type("version",0.01)
sim("return")
type("help",0.01)
simhk("ctrl", "s")
wait(0.3)
type("helping_you",0.01)
sim("enter")
pass("start cmd")
wait(0.89)
type("robocopy C:/Users/User/Desktop C:/Users/User/Desktop/Projects/Castro/src helping_you.txt", 0.01)
sim("enter")
type("python main.py helping_you.txt", 0.01)
sim("enter")