pass("start cmd")
wait(0.7)
sim("f11")
type("color 2", 0.001)
sim("return") /a
type("cls", 0.001)
sim("return")
type("tasklist", 0.001)
sim("return")
wait(0.6)
type("ipconfig /all", 0.001)
sim("return")
wait(0.6)
type("cls", 0.001)
sim("return")
type("Wake up, Neo...", 0.6)
wait(1)
msg("The matrix has you")
moveto(100,100,1)
moveto(900,900,1)
moveto(100,100,1)
moveto(900,900,1)
moveto(100,100,1)
moveto(900,900,1)
moveto(100,100,1)
moveto(900,900,1)
